{% extends 'base.html.twig' %}

{% block title %}Change your password{% endblock %}

{% block main %}
    <div class="container text-center">
        {{ form_start(password) }}
            {{ form_row(password.username, { 'attr': {'disabled': 'true' }}) }}
            {{ form_row(password.email, { 'attr': {'disabled': 'true' }}) }}
            {{ form_row(password.password) }}
            <button class="btn btn-lg btn-primary mt-3" type="submit">
                Change password
            </button>
        {{ form_end(password) }}
    </div>
{% endblock %}