{% extends 'base.html.twig' %}

{% block title %}Change your password{% endblock %}

{% block main %}
    <article id="securityForm">
        <h1 class="h3 mb-3 font-weight-normal">Change your password</h1>
        {{ form_start(password) }}
            {{ form_row(password.username, { 'attr': {'disabled': 'true' }}) }}
            {{ form_row(password.email, { 'attr': {'disabled': 'true' }}) }}
            {{ form_row(password.password) }}
            <button class="btn btn-lg btn-primary mt-3" type="submit">Change password</button>
        {{ form_end(password) }}
    </article>
{% endblock %}