{% extends 'base.html.twig' %}

{% block title %}Figure index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index') }}
{% endblock %}

{% block main %}
    <div style="height: calc(100vw*9/16);">
        <div class="text-center" style="position: relative; top: 40%;">
            <h1 class="text-white">Come and find your style</h1>
            <a href="#index" class="rounded-circle btn btn-danger" id="arrow-down">
                <i class="fas fa-arrow-down"></i>
            </a>
        </div>
    </div>

    <section class="row row-cols-1 row-cols-lg-5 py-5 mx-3" id="index">
        {% for figure in figures %}
            <div class="col">
                <div class="card mb-3">
                    <a href="{{ path('figure_show', {'slug': figure.slug }) }}" style="text-decoration: underline;">
                        <picture>
                        {% if figure.displayPicture %}
                            <img src="{{ asset('/') }}{{ figure.displayPicture.webPath }}"
                                 alt="{{ figure.displayPicture.alt }}" class="card-img-top" height="200" style="object-fit: cover;">
                        {% else %}
                            <img src="{{ asset('build/images/card-default.jpg') }}" alt="default" class="card-img-top" height="200" style="object-fit: cover;">
                        {% endif %}
                        </picture>
                    </a>

                    <div class="card-body">
                        <div class="card-title">
                            <div class="float-left">
                                <a href="{{ path('figure_show', {'slug': figure.slug }) }}" style="text-decoration: underline;">{{ figure.name }}</a>
                            </div>
                            {% if is_granted('ROLE_USER') %}
                            <div class="float-right" >
                                <a href="{{ path('figure_edit', {'slug': figure.slug }) }}" style="color: black;"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#index" class="pl-3 delete-button" data-toggle="modal" data-target="#delete_figure" data-slug="{{ figure.slug }}" style="color: black;"><i class="fas fa-trash-alt"></i></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    </section>
{% endblock %}

{% block modal %}
    {% if is_granted('ROLE_USER') %}
        {{ include('figure/_delete_modal.html.twig') }}
    {% endif %}
{% endblock %}

