{% extends 'base.html.twig' %}

{% block title %}Figure index{% endblock %}

{% block main %}
    <div style="height: calc(100vw*9/16);">
        <div class="text-center" style="position: relative; top: 40%;">
            <h1 class="font-weight-bold" style="color:red;">Come and find your style</h1>
            <a href="#index" class="rounded-circle btn btn-danger">
                <i class="fas fa-arrow-down"></i>
            </a>
        </div>
    </div>
    <section class="row row-cols-5 py-5 mx-3" id="index">
        {% for figure in figures %}
            <div class="col">
                <div class="card mb-3">
                    <img src="{{ asset('assets/images/card-default.jpg') }}" class="card-img-top" alt="Default" height="100" style="object-fit: cover;">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="float-left">
                                <a href="{{ path('figure_show', {'slug': figure.slug }) }}" style="text-decoration: underline;">{{ figure.name }}</a>
                            </div>
                            {% if is_granted('ROLE_USER') %}
                            <div class="float-right" >
                                <a href="{{ path('figure_edit', {'slug': figure.slug }) }}" style="color: black;"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="pl-3" style="color: black;"><i class="fas fa-trash-alt"></i></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    </section>
    <a id="bottomArrow" href="#index" class="rounded-circle btn btn-danger float-right" style="display: none">
        <i class="fas fa-arrow-up"></i>
    </a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}

