{% extends 'base.html.twig' %}

{% block title %}New trick{% endblock %}

{% block main %}
    <article class="container">
        {{ form_start(form) }}
            <div class="row justify-content-center">
                <div class="col-12">
                    <img src="{{ asset('assets/images/card-default.jpg') }}" alt="default" class="img-fluid mx-auto d-block">
                </div>

                <div class="col-12">
                    <h3 class="text-center">Pictures & Videos</h3>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center">Add your pictures or videos to illustrate this trick.</p>
                        </div>
                        <div class="col-6 pictures" data-prototype="{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}">
                            <button type="button" class="btn add_picture_link"><i class="fas fa-plus"></i> Add a picture</button>
                        </div>

                        <div class="col-6">
                            <p>Add a video</p>
                            {{ form_widget(form.url) }}
                        </div>
                    </div>


                </div>

                <div class="col-sm-8 ">
                    <h3 class="text-center">About this trick</h3>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">Name</th>
                                <th class="text-center">Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center"> {{ form_widget(form.name) }}</td>
                                <td class="text-center"> {{ form_widget(form.category) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-10">
                    <h3 class="text-center">Description de la figure</h3>
                    <div class="border border-dark">
                       {{ form_widget(form.description) }}
                    </div>
                </div>

                <div>{{ form_widget(form.pictures) }}</div>

                <div class="d-flex col-10">
                    <div class="mr-auto p-2">
                        <a href="{{ path('figure_index') }}" class="btn btn-dark">Annuler</a>
                    </div>
                    <div class="p-2">
                        <button class="btn btn-success">Sauvegarder</button>
                    </div>

                </div>
            </div>
        {{ form_end(form) }}
    </article>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/figure_form.js') }}"></script>
{% endblock %}
