{% extends 'base.html.twig' %}

{% block title %}{{ figure.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
{% endblock %}

{% block main %}
    <article id="trickForm">
        <div class="row justify-content-center">
            <div class="col-12" id="displayPicture">
                <img src="{{ asset('assets/images/card-default.jpg') }}" alt="default" class="img-fluid mx-auto d-block">
            </div>
            <div style="position: absolute; top: 50%;">
                <h1 class="font-weight-bold" style="color:red;">{{ figure.name }}</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <h3>Pictures & Videos</h3>
                <div id="picturesAndVideos"></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-11">
                <h3 class="text-center">Description</h3>
                <p>{{ figure.description|raw }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">About this trick</h3>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-3">
                        <p>Name</p>
                    </div>
                    <div class="col-12 col-lg-3">
                        <p>Category</p>
                    </div>
                    <div class="col-12 col-lg-3">
                        Creation date
                    </div>
                    <div class="col-12 col-lg-3">
                        Last modification date
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-3">
                        {{ figure.name }}
                    </div>
                    <div class="col-12 col-lg-3">
                        {{ figure.category }}
                    </div>
                    <div class="col-12 col-lg-3">
                        {{ figure.createdAt|date("m/d/Y") }}
                    </div>
                    <div class="col-12 col-lg-3">
                        {{ figure.lastModified|date("m/d/Y") }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="d-flex col-10">
                <div class="mr-auto p-2">
                    <a href="{{ path('figure_index') }}" class="btn btn-dark">Return to index</a>
                </div>
                {% if is_granted('ROLE_USER') %}
                    <div class="p-2">
                        <a href="{{ path('figure_edit', { slug: figure.slug }) }}" class="btn btn-primary">Edit this trick</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            {{ form(discussionform) }}
            <button type="submit" class="btn btn-primary">Leave a comment</button>
        </div>
    </article>
{% endblock %}

{% block javascripts %}
    <script>
        var figureSlug = "{{ figure.slug }}";
        var defaultPicture = "{{ asset('assets/images/card-default.jpg') }}";
    </script>
    <script src="{{ asset('assets/js/show.js') }}"></script>
    <script src="{{ asset('assets/js/medias.js') }}"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock %}


