{% extends 'base.html.twig' %}

{% block title %}{{ figure.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
{% endblock %}

{% block main %}
    <article id="trickForm">
        <div class="row justify-content-center" style="position: relative;">
            <picture class="col-12" id="displayPicture">
                <img src="{{ asset('assets/images/card-default.jpg') }}" alt="default" class="mx-auto d-block" style="object-fit: cover">
            </picture>
            <div class="position-absolute" style="top: 50%;">
                <h1 class="regular text-white">{{ figure.name }}</h1>
            </div>
            {% if is_granted('ROLE_USER') %}
                <div class="px-1" style="position: absolute; top: 5px; right: 20px; background-color: white; border: 1px solid whitesmoke;">
                    <a title="Edit this trick" href="{{ path('figure_edit', {'slug': figure.slug }) }}" class="mx-1" style="color: black;">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a title="Delete this trick" class="pl-3" data-toggle="modal" data-target="#delete_figure" data-slug="{{ figure.slug }}" style="color: black;">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="regular">Pictures & Videos</h3>
                <div id="picturesAndVideos"></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-11">
                <h3 class="regular">Description</h3>
                <div id="description">{{ figure.description|raw }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="text-center regular">About this trick</h3>
                <div class="row justify-content-center regular">
                    <div class="col-12 col-lg-3">
                        <p>Name</p>
                    </div>
                    <div class="col-12 col-lg-3">
                        <p>Category</p>
                    </div>
                    <div class="col-12 col-lg-3">
                        <p>Creation date</p>
                    </div>
                    <div class="col-12 col-lg-3">
                        <p>Last modified</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-3">
                        {{ figure.name }}
                    </div>
                    <div class="col-12 col-lg-3">
                        {{ figure.category }}
                    </div>
                    <div class="col-12 col-lg-3">
                        {{ figure.createdAt|date("m/d/Y") }}
                    </div>
                    <div class="col-12 col-lg-3">
                        {{ figure.lastModified|date("m/d/Y") }}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="justify-content-center">
            {% if is_granted('ROLE_USER') %}
                {{ include('figure/_discussionform.html.twig') }}
                <p id="discussion_added"></p>
            {% else %}
                <p>You must be logged in order to join the discussion.</p>
            {% endif %}
        </div>
        <hr>
        <div>
            <h3 class="text-center regular">List of comments</h3>
            <div id="discussions"></div>
        </div>
    </article>
{% endblock %}

{% block javascripts %}
    <script>
        var figureSlug = "{{ figure.slug }}";
        var defaultPicture = "{{ asset('assets/images/card-default.jpg') }}";
        var defaultUser = "{{ asset('assets/images/user-default.png') }}";
    </script>
    <script src="{{ asset('assets/js/discussions.js') }}"></script>
    <script src="{{ asset('assets/js/medias.js') }}"></script>
    <script src="{{ asset('assets/js/show.js') }}"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock %}


