{% extends 'base.html.twig' %}

{% block title %}{{ figure.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('figure') }}
{% endblock %}

{% block javascripts %}
    <script>
        var figurePath = "{{ path('figure_show', {slug: figure.slug}) }}";
        var defaultPicture = "{{ asset('build/images/card-default.jpg') }}";
    </script>
    {{ parent() }}
    {{ encore_entry_script_tags('figure') }}
    {{ encore_entry_script_tags('show') }}
{% endblock %}

{% block main %}
    <article id="trickForm">
        <div class="row justify-content-center" style="position: relative;">
            <picture class="col-12" id="displayPicture">
                {% if figure.displayPicture %}
                    <img src="../{{ figure.displayPicture.webPath }}" alt="{{ figure.displayPicture.alt }}" class="img-fluid mx-auto d-block">
                {% else %}
                    <img src="{{ asset('build/images/card-default.jpg') }}" alt="default" class="img-fluid mx-auto d-block">
                {% endif %}
            </picture>
            <div class="position-absolute" style="top: 50%;">
                <h1 class="text-white">{{ figure.name }}</h1>
            </div>
            {% if is_granted('ROLE_USER') %}
                <div class="px-1" style="position: absolute; top: 5px; right: 20px; background-color: white; border: 1px solid whitesmoke;">
                    <a title="Edit this trick" href="{{ path('figure_edit', {'slug': figure.slug }) }}" class="mx-1" style="color: black;">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a title="Delete this trick" class="pl-3" data-toggle="modal" data-target="#delete_figure" data-slug="{{ figure.slug }}" style="color: black;">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <h3>Pictures & Videos</h3>
                <div id="picturesAndVideos"></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-11">
                <h3>Description</h3>
                <div id="description">{{ figure.description|raw }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">About this trick</h3>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-3">
                        <p class="regular">Name</p>
                        <p>{{ figure.name }}</p>
                    </div>
                    <div class="col-12 col-lg-3">
                        <p class="regular">Category</p>
                        <p>{{ figure.category }}</p>
                    </div>
                    <div class="col-12 col-lg-3">
                        <p class="regular">Creation date</p>
                        <p>{{ figure.createdAt|date("m/d/Y") }}</p>
                    </div>
                    <div class="col-12 col-lg-3">
                        <p class="regular">Last modified</p>
                        <p>{{ figure.lastModified|date("m/d/Y") }}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="justify-content-center">
            {% if is_granted('ROLE_USER') %}
                {{ include('figure/_discussionform.html.twig') }}
                <p id="discussion_added"></p>
            {% else %}
                <p>You must be logged in order to join the discussion.</p>
            {% endif %}
        </div>
        <hr>
        <div>
            <h3 class="text-center">List of comments</h3>
            <div id="discussions"></div>
        </div>
    </article>
{% endblock %}

{% block modal %}
    <!-- Modal de galerie photos -->
    <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <img id="image-gallery-image" class="img-fluid" src="" alt="">
        </div>
    </div>
{% endblock %}