<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ asset('assets/images/favicon.png') }}" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/snowtricks.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header class="navbar navbar-expand navbar-light flex-row">
            <a class="navbar-brand app-computer" href="{{ path('figure_index') }}">
                <img src="{{ asset('assets/images/logo.png') }}"  height="35" class="align-top" alt="logo">
            </a>
            <ul class="navbar-nav flex-fill justify-content-around app-mobile">
                <li class="nav-item" style="font-size: 45px">
                    <a class="nav-link {% if app.request.get('_route') == 'figure_index' %}active{% endif %}" href="{{ path('figure_index') }}"><i class="fas fa-home"></i></a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item" style="font-size: 45px">
                        <a class="nav-link {% if app.request.get('_route') == 'figure_new' %}active{% endif %}" href="{{ path('figure_new') }}"><i class="fas fa-bookmark"></i></a>
                    </li>
                    <li class="nav-item" style="font-size: 45px">
                        <a class="nav-link" href="{{ path('app_logout')}}"><i class="fas fa-sign-out-alt"></i></a>
                    </li>
                {% else %}
                    <li class="invisible" style="font-size: 45px"></li>
                    <li class="nav-item" style="font-size: 45px">
                        <a class="nav-link {% if app.request.get('_route') == 'app_login' %}active{% endif %}" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i></a>
                    </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ml-auto app-computer" >
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('figure_index') }}">Home<span class="sr-only">(current)</span></a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('figure_new') }}">New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout')}}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </header>

        <main>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block main %}{% endblock %}
        </main>

        <footer class="flex-row text-center app-computer">
            <div class="col-12">Ce site est un <a href="https://github.com/Nayte91/P6-snowtricks">projet d'étude réalisé avec le framework Symfony</a> dans le cadre du parcours de formation d'OpenClassRooms : Développeur d'application PHP/Symfony.</div>
            <div class="col-12">Copyright Julien Robic © 2020</div>
        </footer>

        {% if is_granted('ROLE_USER') %}
            <div class="modal fade" id="delete_figure" tabindex="-1" aria-labelledby="logged" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete a trick</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="modal-title" id="exampleModalLabel">Are you sure you want to delete <span class="slug"></span> ?</p>
                            <p>Be careful, there is no going back.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">no, thanks</button>
                            <button type="button" class="btn btn-danger figure-delete">Delete it</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% block modal %}{% endblock %}

        <script src="{{ asset('assets/js/figure.js') }}"></script>
        <script src="{{ asset('assets/js/fontawesome-5.13.1.js') }}"></script>
        <script src="{{ asset('assets/js/jquery-3.5.1.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
